/demo.docx
/demo.pdf
/docxtopdf.py
/gdp_proj.csv
/girlfriend_text
/ipproject.py
/iptracer
/keylogger.pyw
/output.mp3
/pdftodocx.py
/pdftojpg.py
/poppler-21.08.0
/Portfolio.docx
/python-3.9.7-amd64.exe
/Python-for-Data-Analysis.pdf
/Release-21.08.0.zip
/statement.pdf
/STATEMENTUNION.pdf
/text-speech.py
/Texter
/texttospeech
/utils.py